# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual environment
venv/
env/
.venv/

# IDEs and Editors
.vscode/
.idea/
*.swp

# dotenv files
.env
*.env

# Vercel deploy logs
.vercel/

# Pipenv and Poetry
Pipfile.lock
poetry.lock

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# MacOS system files
.DS_Store
